@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sf_medium";
  src: url(../src/assets/font/FontsFree-Net-SFProDisplay-Medium.ttf);

  font-family: "sf_regular";
  src: url(../src/assets/font/FontsFree-Net-SFMono-Regular.ttf);

  font-family: "new_york_exl";
  src: url(../src/assets/font/FontsFree-Net-NewYorkExtraLargeRegular.ttf);

  font-family: "new_york_reg";
  src: url(../src/assets/font/FontsFree-Net-NewYorkSmallRegular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}
